  type: mysql
  default_timezone: 'Asia/Tokyo'
  database: ds
{% if env.EMBULK_ENV == 'production' %}
  host: 172.16.1.133
  user: root
  password: IptDwh!
{% elsif env.EMBULK_ENV == 'staging' %}
  host: 172.16.1.37
  user: root
  password: IptDwh!
{% elsif env.EMBULK_ENV == 'test' %}
  host: 172.17.160.134
  user: root
  password: IptDwh!
{% elsif env.EMBULK_ENV == 'development' %}
  host: localhost
  user: root
  password: IptDwh!
{% endif %}
