in:
{% include 'inc/dwh/dm_customer' %}
  query: |
    SELECT
        id,
        pet_owner_id,
        pet_owner_id_insured,
        pet_id,
        policy_number,
        system_key,
        old_policy_number,
        service,
        order_id,
        web_flag,
        apply_date,
        plan,
        premium,
        dairiten_code,
        dairiten_name,
        contract_date,
        start_date,
        end_date,
        entry_date,
        cancel_date,
        cancel_reason,
        payment_type,
        payment_term,
        keizoku_count,
        liability_flg,
        same_flg,
        ido_type,
        ido_jiyu,
        ido_keijo_date,
        shinsakekka,
        status,
        vh_rec_payment_date,
        uninsured_condition,
        channel_code,
        created_at,
        updated_at
    FROM
        insurance_policy
out:
{% include 'inc/dwh/dwh_api' %}
  mode: replace
  table: dm_customer_insurance_policy
  column_options:
    id:                      {type: "BIGINT(20) NOT NULL"}
    pet_owner_id:            {type: "VARCHAR(32) NOT NULL"}
    pet_owner_id_insured:    {type: "VARCHAR(32)"}
    pet_id:                  {type: "BIGINT(20) NOT NULL"}
    policy_number:           {type: "VARCHAR(100)"}
    system_key:              {type: "char(3) NOT NULL"}
    old_policy_number:       {type: "VARCHAR(100)"}
    service:                 {type: "VARCHAR(100)"}
    order_id:                {type: "VARCHAR(255)"}
    web_flag:                {type: "BIT(1)"}
    apply_DATE:              {type: "DATE"}
    plan:                    {type: "VARCHAR(100)"}
    premium:                 {type: "INT(10)"}
    dairiten_code:           {type: "VARCHAR(30)"}
    dairiten_name:           {type: "VARCHAR(255)"}
    contract_date:           {type: "DATE DEFAULT NULL"}
    start_date:              {type: "DATE DEFAULT NULL"}
    end_date:                {type: "DATE DEFAULT NULL"}
    entry_date:              {type: "DATETIME DEFAULT NULL"}
    cancel_date:             {type: "DATE DEFAULT NULL"}
    cancel_reason:           {type: "TEXT"}
    payment_type:            {type: "VARCHAR(255)"}
    payment_term:            {type: "VARCHAR(255)"}
    keizoku_count:           {type: "INT(11)"}
    liability_flg:           {type: "BIT(1)"}
    same_flg:                {type: "BIT(1)"}
    ido_type:                {type: "VARCHAR(255)"}
    ido_jiyu:                {type: "MEDIUMTEXT"}
    ido_keijo_date:          {type: "DATE DEFAULT NULL"}
    shinsakekka:             {type: "VARCHAR(128)"}
    status:                  {type: "VARCHAR(50)"}
    vh_rec_payment_date:     {type: "DATE DEFAULT NULL"}
    uninsured_condition:     {type: "VARCHAR(128)"}
    channel_code:            {type: "VARCHAR(10)"}
    created_at:              {type: "DATETIME DEFAULT CURRENT_TIMESTAMP"}
    updated_at:              {type: "DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP"}
  create_table_constraint:
    PRIMARY KEY (id),
    INDEX pet_owner_id_idx (pet_owner_id),
    INDEX pet_id_idx (pet_id),
    INDEX dairiten_code_idx (dairiten_code),
    INDEX policy_number_idx (policy_number),
    INDEX old_policy_number_idx (old_policy_number),
    INDEX entry_date_idx (entry_date),
    INDEX idx_insurance_policy_1 (policy_number,system_key)
