in:
{% include 'inc/dwh/ds' %}
  query: |
    SELECT
        id,
        kind,
        age,
        plan,
        multi_four_monthly,
        multi_four_year,
        multi_two_monthly,
        multi_two_year,
        monthly_webdiscount,
        monthly,
        year_webdiscount,
        year
    FROM
        web_order_premiums
out:
{% include 'inc/dwh/dwh_api' %}
  mode: replace
  table: ds_web_order_premiums
  column_options:
    id: {type: "INT(10) NOT NULL"}
    kind: {type: "VARCHAR(10) NOT NULL"}
    age: {type: "INT(10) NOT NULL"}
    plan: {type: "VARCHAR(20) NOT NULL"}
    multi_four_monthly: {type: "INT(10) NOT NULL"}
    multi_four_year: {type: "INT(10) NOT NULL"}
    multi_two_monthly: {type: "INT(10) NOT NULL"}
    multi_two_year: {type: "INT(10) NOT NULL"}
    monthly_webdiscount: {type: "INT(10)"}
    monthly: {type: "INT(10) NOT NULL"}
    year_webdiscount: {type: "INT(10) NOT NULL"}
    year: {type: "INT(10) NOT NULL"}
  create_table_constraint:
    PRIMARY KEY (id),
    INDEX idx_01 (kind, age, plan)