in:
{% include 'inc/dwh/dm_customer' %}
  query: |
    SELECT
        pet_owner_id,
        update_event,
        kokyaku_number,
        name,
        address,
        tel_no_json,
        email_address_json,
        nayose_flg,
        created_at,
        updated_at
    FROM
        pet_owner_mapping
out:
{% include 'inc/dwh/dwh_api' %}
  mode: replace
  table: dm_customer_pet_owner_mapping
  column_options:
    pet_owner_id:           {type: "VARCHAR(32) NOT NULL"}
    update_event:           {type: "VARCHAR(50)"}
    kokyaku_number:         {type: "VARCHAR(10)"}
    name:                   {type: "VARCHAR(100)"}
    address:                {type: "VARCHAR(200)"}
    tel_no_json:            {type: "TEXT"}
    email_address_json:     {type: "TEXT"}
    nayose_flg:             {type: "TINYINT(1)"}
    created_at:             {type: "DATETIME DEFAULT CURRENT_TIMESTAMP"}
    updated_at:             {type: "DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP"}
  create_table_constraint:
    PRIMARY KEY (pet_owner_id),
    INDEX idx_pet_owner_mapping_1 (kokyaku_number),
    INDEX idx_pet_owner_mapping_2 (name)