in:
{% include 'inc/dwh/ds' %}
  query: |
    SELECT
        id,
        class,
        ryakusyo,
        name,
        kind
    FROM
        ipetweb_f_breeds
out:
{% include 'inc/dwh/dwh_api' %}
  mode: replace
  table: ds_ipetweb_f_breeds
  column_options:
    id:          {type: "INT(10) NOT NULL"}
    class:       {type: "CHAR(4) NOT NULL"}
    ryakusyo:    {type: "VARCHAR(2) NOT NULL"}
    name:        {type: "VARCHAR(255) NOT NULL"}
    kind:        {type: "VARCHAR(2) NOT NULL"}
  create_table_constraint:
    PRIMARY KEY (id),
    INDEX idx_01 (class, kind),
    INDEX idx_02 (kind, class)